
#content-wrapper
{
	padding-top: 30px;
	padding-left: 300px;

	#content-title
	{
		padding: 5px 0px 5px 25px;
		color: #f9f9f9;
		width: 355px;
		background: url(../WelcomePage/TitleBarSlice.png) repeat-x;
	}

	#content-form
	{
		border: dotted 1px;
		border-top: none;
		padding: 5px 0px 5px 58px;
		width: 320px;
		background-color: #f9f9f9; //#f1f1f1;
	}
}
